button {
    align-content: center;
    border-radius:3px ;
    margin-top:3px;
    border-width: 5px;
    border-color: crimson;
    color: darkred;
    width:136px ;
    height:68px ;
}

body {
    background: linear-gradient(rgb(101, 18, 18),rgb(118, 6, 6) );
    align-items: center;
}